In [43]:
# Import the dependencies.
import pandas as pd
import gmaps
#import googlemaps
import requests
# Import the API key.
from config import g_key

In [44]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2021-01-27 21:27:07,-53.1500,-70.9167,50.00,53,75,26.46
1,1,Komarikhinskiy,RU,2021-01-27 21:27:07,58.0979,57.1163,23.00,74,0,11.18
2,2,Puerto Ayora,EC,2021-01-27 21:27:08,-0.7393,-90.3518,86.00,62,20,20.71
3,3,Obo,CF,2021-01-27 21:27:08,5.3998,26.4869,82.63,31,99,2.68
4,4,Ushuaia,AR,2021-01-27 21:27:08,-54.8000,-68.3000,41.00,87,75,24.16

In [45]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [46]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [47]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [48]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [53]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Puerto Ayora,EC,2021-01-27 21:27:08,-0.7393,-90.3518,86.00,62,20,20.71
3,3,Obo,CF,2021-01-27 21:27:08,5.3998,26.4869,82.63,31,99,2.68
6,6,Sao Raimundo Nonato,BR,2021-01-27 21:27:09,-9.0153,-42.6994,85.24,42,89,6.08
8,8,Rikitea,PF,2021-01-27 21:23:11,-23.1203,-134.9692,79.34,75,39,14.18
18,18,Avarua,CK,2021-01-27 21:26:07,-21.2078,-159.7750,89.60,62,20,16.11
20,20,Atuona,PF,2021-01-27 21:27:12,-9.8000,-139.0333,78.35,78,1,15.57
26,26,Cururupu,BR,2021-01-27 21:27:13,-1.8283,-44.8683,80.47,77,53,4.16
30,30,Thinadhoo,MV,2021-01-27 21:27:14,0.5333,72.9333,81.52,75,56,16.89
33,33,Mogadishu,SO,2021-01-27 21:27:16,2.0371,45.3438,77.05,83,3,21.79
38,38,Kapaa,US,2021-01-27 21:27:17,22.0752,-159.3190,77.00,83,90,18.41

In [54]:
preferred_cities_df.count()

City_ID       162
City          162
Country       162
Date          162
Lat           162
Lng           162
Max Temp      162
Humidity      162
Cloudiness    162
Wind Speed    162
dtype: int64

In [55]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                   City Country  Max Temp      Lat       Lng Hotel Name
2          Puerto Ayora      EC     86.00  -0.7393  -90.3518
3                   Obo      CF     82.63   5.3998   26.4869
6   Sao Raimundo Nonato      BR     85.24  -9.0153  -42.6994
8               Rikitea      PF     79.34 -23.1203 -134.9692
18               Avarua      CK     89.60 -21.2078 -159.7750
20               Atuona      PF     78.35  -9.8000 -139.0333
26             Cururupu      BR     80.47  -1.8283  -44.8683
30            Thinadhoo      MV     81.52   0.5333   72.9333
33            Mogadishu      SO     77.05   2.0371   45.3438
38                Kapaa      US     77.00  22.0752 -159.3190

In [59]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [76]:
# Iterate through the DataFrame.

for index, row in hotel_df.iterrows():

    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [77]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Puerto Ayora,EC,86.00,-0.7393,-90.3518,Castillo Galapagos
3,Obo,CF,82.63,5.3998,26.4869,
6,Sao Raimundo Nonato,BR,85.24,-9.0153,-42.6994,Real Hotel
8,Rikitea,PF,79.34,-23.1203,-134.9692,Pension Maro'i
18,Avarua,CK,89.60,-21.2078,-159.7750,Paradise Inn
20,Atuona,PF,78.35,-9.8000,-139.0333,Villa Enata
26,Cururupu,BR,80.47,-1.8283,-44.8683,Pousada Través'cia
30,Thinadhoo,MV,81.52,0.5333,72.9333,
33,Mogadishu,SO,77.05,2.0371,45.3438,Hotel Juba
38,Kapaa,US,77.00,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach

In [78]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [79]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [81]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [82]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [83]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))